{
    "extends": ["prettier"],
    "env": {
      "node": true,
      "es6": true,
      "jasmine": true
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "es6": true
      }
    },
    "plugins": ["filenames", "node", "prettier", "jasmine"],
    "rules": {
      "prettier/prettier": 2
    }
}
